element{
  --background-blue: #1a1935;
}

a{
  color: white;
}

.btn{
  font-size: 0.75rem !important;
}

.nav-link{
  font-size: 0.75rem !important;
}

.news-url {
  text-decoration: none !important;
  color:white !important;
  display: block;
 }

 .news-list-item{
   display: inline-block;
   padding-bottom: 0rem;
   border-top: #7f7f7f 1px solid !important;
  }

  #news-title{
    border-top: none !important;
    font-weight: bolder;
  }

 .news-list-item:hover {
    background-color: #294fa3c9 !important;
}

#news-title:hover{
  background-color: #12244b !important;
}

#news-icon{
  display: contents;
  font-size: 2.5rem;
}

#tech>.list-group-item:hover{
    background-color: #294fa3c9 !important;
}

#trending>.list-group-item{
    padding-left: 3.5rem !important;
}

#market>.list-group-item{
    padding-left: 3.5rem !important;
}

#trending>.list-group-item:hover{
    background-color: #294fa3c9 !important;
}

i{
  margin-right: 1rem;
  font-size: larger;
}

.alert-danger{
  text-align: center;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#logo-img{
  object-fit: scale-down;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-image: url("./media/bg.jpg"); */
  /* background-attachment: fixed; */
  /* background-size: 100vw 100vh; */
  color: white;
  background-color: #101d39;
}

.card{
  background-color: transparent !important; /* #041b4dc9 !important;*/
  border: none;
  border-radius: 0 !important;
  padding-right: 0;
  word-wrap: normal; /* Fixes news panel moving down when changing tab on PopPanel */
}

.card-header{
  background-color: #1d1b3b !important;
}

/* .card-img-top{
  max-width: 100%;
  filter: brightness(50%);
} */

#dash-row{
  /* margin-top: 2rem; */
  justify-content: flex-end;
}

#main-dash{
  background-color: transparent !important;
  padding-right: 5rem;
}

#news-row{
  padding-top: 5rem;
}

.news-card-grp{
  padding-left: 0 !important;
}

.news-card-grp .card{
  margin: 1rem;
}

.news-item{
  text-align: left ;
  padding-left: 3rem;
}

.news-img{
  border-radius: .5rem;
  height: auto;
  object-fit: scale-down;
}

#news-list{
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: #12244b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 1rem;
}

.data-card{
  padding: .5rem;
  padding-left: 1rem;
}

.data-card-container{
  /* border: 1px solid #7f7f7f; */
  border-radius: 1rem;
  background-color: #12244b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.data-title{
  font-weight:bold; 
  border-bottom: #7f7f7f 1px solid ;
  padding-top: .5rem;
  padding-left: 1rem;
}

#data-card-col{
  height: fit-content;
  padding-left: 1rem;
  font-weight: bold;
}

#summary-panel{
  /* margin-top: 2rem; */
  /* padding: 2rem; */
}

#summary-panel-container{
  /* border: 1px solid #7f7f7f; */
  border-radius: 1rem;
  background-color: #12244b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.data-row{
  --bs-gutter-x: 0 !important;
}

.list-group-item{
  background-color: transparent !important; /* #041b4dc9 !important;*/
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: none;
  margin-left: .1rem;
}

.news-text-secondary{
  color: rgb(165, 165, 165) !important;
}

.stat-text{
  color:rgb(47, 255, 47);
}

#chart-container{
  margin-left: 1rem;
  margin-right: 1rem;
  /* text-align: -webkit-center; */
}

.pop-price{
  color: rgb(47, 255, 47);
  /* margin-left: 2rem; */
}

#side-nav{
  height: 95%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #12244b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  overflow-x: hidden;
  border-radius: 2rem;
  margin: 1rem 0 0 1rem;
}

#sma-btn{
  margin-left: 1rem;
  margin-top: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
              0 3px 1px -2px rgba(0,0,0,.2), 
              0 1px 5px 0 rgba(0,0,0,.12);
}

.fa-question-circle{
  font-size: 1rem;
}

#pop-stocks{
  margin-top: 2rem;
  background-color: transparent !important;
  font-weight: bold;
  text-align: left;
}

.pop-collapse {
  color: white;
  border-bottom: #7f7f7f 1px solid !important;
}

.pop-collapse:hover, .pop-collapse:active, .pop-collapse:focus{
  background-color: #294fa3c9 !important;
  color: white;
}

.tab-pane>.list-group-item {
    background-color: transparent !important;
}

.btn-primary{
  background-color:#3d7bff !important;
  border: 0px !important;
}

.btn-success{
  margin-left: 1rem;
}

#ticker-form{
  margin-bottom: 3rem;
  text-align: center;
  padding-top: 5rem;
  border-top: #7f7f7f 1px solid !important;
}

#ticker-input-label{
  display: inherit;
  left: auto !important;
}

#ticker-form-floating{
  padding-left: 2rem;
  padding-right: 2rem;
}

#myTab{
  background-color: transparent;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

#searchHelp{
  color: white;
}

label{
  color: gray;
}

.row{
    --bs-gutter-x: 0 !important;
}

#company-name{
  padding: 1rem 0 1rem 0;
  text-align: left;
  font-weight: bold;
  display: block;
}

#comp-name-span{
  background-color: #12244b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
}

.tv-lightweight-charts{
  margin-left: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.chart-btns{
  margin-left: 1rem;
}

.badge{
  padding: .25em .35em !important;
  width: fit-content;
  margin-left: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.spinner-border{
  margin-top: 10rem;
}

#modal-close{
  color: white;
}

.modal-footer{
  border-top: none !important;
}

#side-nav::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}


#side-navr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
}

#side-nav::-webkit-scrollbar-thumb {
  background-color: lightblue;
  outline: 1px solid slategrey;
}